[submodule "zsh/zprezto"]
	path = zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "tmux/plugins/resurrect"]
	path = tmux/plugins/resurrect
	url = https://github.com/siho22/tmux-resurrect
