[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/zprezto"]
	path = zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "tmux/plugins/resurrect"]
	path = tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
